---
---

body
{
  background-color: white;
}

h2
{
  margin-top: 2em;
}

.package
{
  border-radius: 5px;
  box-shadow: 0 .5rem 1rem -.25rem gray;
  align-items: center;
  margin: 4em auto 2em auto;
  max-width: 60rem;
  padding: 30px;
}

.package div
{
  padding: 10px;
  overflow: hidden;
}

.package div h3
{
  border-top: 2px solid #427cbd;
  border-bottom: 2px solid #427cbd;
  text-align: center;
  line-height: 30px;
  margin-top: 1.5em;
}

.package div h3 a
{
  display: block;
  color: black;
  text-decoration: none;
}

a, .package div a
{
  color: darkblue;
  text-decoration: none;
}

.package div code a
{
  color: black;
}

.package img
{
  width: 150px;
  float: left;
  margin: 20px;
  margin-top: 5em;
}

.package code
{
  white-space: nowrap;
  padding: 5px;
  color: black;
  background-color: lavender;
  width: 90%;
  overflow-x: scroll;
  float: left;
}

.package img.copy
{
  width: 25px;
  margin: 2px;
}

img#logo
{
  width: 38px;
  float: left;
  margin-right: 10px;
}

ul li
{
  margin: 0.5em 0 0.5em 0;
}

table#package-index img
{
  width: 50px;
}
