---
---

ul { padding-inline-start: 1em; }
li {
  list-style-type: none;
  margin-top: 0.7em;
}

details[open] { background-color: aliceblue; }

nav {
  max-width: 1110px;
  margin: auto;
}

li.nav-item { margin-left: 1em; }

a.nav-link { color: #FFF !important; }
a.nav-link:hover {
  color: #FFF !important;
  background-color: #585858;
}

div.card-header img { width: 100px; }
div.card-header-mod { background-color: aliceblue; }
div.input-group-mod,
div.input-group-mod input[disabled] { background-color: white; }

span.fixed-width {
  display: inline-block;
  width: 1.3em;
}

#package-index img { width: 50px; }

#package-index_length,
#package-index_length select,
#package-index_filter,
#package-index_filter input { font-size: large; }

#package-index_filter
{
  width: 50%;
  margin-bottom: 1.5em;
}

#package-index_filter label { width: 100%; }
#package-index_filter input { width: 80%; }
