<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/style.css' | relative_url }}">
    {%- if page.layout == "package_index" -%}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.dataTables.min.css">
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script
      src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
    {%- endif -%}
    <title>{{ page.title | default: site.title }}</title>

    <!-- Facebook Open Graph -->
    <meta property="og:description" content="{{ page.description | escape | default: site.description | escape }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="
      {%- if page.layout == "package" -%}
        {{ page.name | remove: '.md' }} package
      {%- else -%}
        {{ site.title }}
      {%- endif -%}
      ">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ page.icon | default: site.logo | absolute_url }}">
    {%- if page.date -%}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    {%- endif -%}
    {%- if page.modified_date -%}
    <meta property="article:modified_time" content="{{ page.modified_date | date_to_xmlschema }}" />
    {%- endif -%}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="
      {%- if page.layout == "package" -%}
        {{ page.name | remove: '.md' }} package
      {%- else -%}
        {{ site.title }}
      {%- endif -%}
      ">
    <meta name="twitter:description" content="{{ page.description | escape | default: site.description | escape }}">
    <meta name="twitter:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:image" content="{{ page.icon | default: site.logo | absolute_url }}">
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <a href="{{ '/' | relative_url }}">
          <img src="{{ '/assets/octave-logo.svg' | relative_url }}"
              alt="GNU Octave">
          <h1>GNU Octave</h1>
          <h2>Package extensions index</h2>
        </a>
      </div>
      <div class="menu_item">
        <a href="https://github.com/gnu-octave/pkg-index/blob/master/CONTRIBUTING.md">Add / update your package</a>
      </div>
      <div class="menu_item">
        <a href="https://github.com/gnu-octave/pkg-index/blob/master/README.md">About this index</a>
      </div>
    </div>

    <div id="content">
    {{ content }}
    </div>

    {%- if page.layout == "package_index" -%}
    <script>
    $(document).ready( function () {
      $('#package-index').DataTable( {
        fixedHeader: true,
        lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
        order: [[ 1, "asc" ]],
        columnDefs: [
            {
                targets: [0, 3, 4],
                className: 'dt-body-center',
                width: '150px'
            },
            {
                targets: 0,
                orderable: false
            }
          ]
        } );
    } );
    </script>
    {%- endif -%}
  </body>
</html>
