<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--
    https://datatables.net/download/index

    Styling framework
      [x] DataTables
    Packages
      [x] DataTables
    Extensions
      [x] FixedHeader
    Download method: CDN
      [x] Minify
      [x] Concatenate
    -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.23/fh-3.1.8/datatables.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{ '/assets/style.css' | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.10.23/fh-3.1.8/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

    <title>{{ page.title | default: site.title }}</title>

    <!-- Facebook Open Graph -->
    <meta property="og:description" content="{{ page.description | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip | escape | truncate: 160 | default: site.description | escape }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="
      {%- if page.layout == "package" -%}
        {{ page.name | remove: '.md' }} package
      {%- else -%}
        {{ site.title }}
      {%- endif -%}
      ">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ page.icon | default: site.logo | absolute_url }}">
    {%- if page.date -%}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    {%- endif -%}
    {%- if page.modified_date -%}
    <meta property="article:modified_time" content="{{ page.modified_date | date_to_xmlschema }}" />
    {%- endif -%}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="
      {%- if page.layout == "package" -%}
        {{ page.name | remove: '.md' }} package
      {%- else -%}
        {{ site.title }}
      {%- endif -%}
      ">
    <meta name="twitter:description" content="{{ page.description | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip | escape | truncate: 160 | default: site.description | escape }}">
    <meta name="twitter:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:image" content="{{ page.icon | default: site.logo | absolute_url }}">
  </head>
  <body>
    <div class="bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
          <img src="{{ '/assets/pkg.png' | relative_url }}"
               width="30" height="30" class="d-inline-block align-top"
               alt="PEI Logo">
          Package Extensions Index
        </a>
        <button type="button" class="navbar-toggler"
                data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link"
                href="https://github.com/gnu-octave/pkg-index/blob/master/CONTRIBUTING.md"><span style="color: #17a2b8;">
                <i class="far fa-plus-square"></i></span>
                Add / update your package
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                href="https://github.com/gnu-octave/pkg-index/blob/master/README.md"><span style="color: #17a2b8;">
                <i class="far fa-question-circle"></i></span>
                About this index
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.octave.org">
                <img src="{{ '/assets/octave-logo.svg' | relative_url }}"
                    width="20" height="20" alt="GNU Octave"
                    class="d-inline-block align-top">
                GNU Octave website
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container-xl my-4">
    {{ content }}
    </div>

    {%- if page.layout == "package_index" -%}
    <script>
    $(document).ready( function () {
      $('#package-index').DataTable( {
        fixedHeader: true,
        lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
        order: [[ 3, "desc" ]],
        columnDefs: [
            {
                targets: [0, 3, 4],
                className: 'dt-body-center',
                width: '150px'
            },
            {
                targets: 0,
                orderable: false
            }
          ]
        } );
    } );
    </script>
    {%- endif -%}
  </body>
</html>
