---
layout: default
---

<table id="package-index" class="display">
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>Description</th>
      <th>Latest version</th>
      <th>Latest update</th>
    </tr>
  </thead>
  <tbody>
  {%- for pkg in site.pages -%}
  {%- if pkg.layout == "package" -%}
    {%- assign pkg_name = pkg.permalink | remove: "/" -%}
    <tr>
      <td><div class="icon"><img src="{{ pkg.icon | default: site.pkg_icon | relative_url }}" alt="icon"></div></td>
      <td><a href="{{ pkg_name | relative_url }}">{{ pkg_name }}</a></td>
      <td><div class="description">{{ pkg.description | strip_html | strip | escape }}</div></td>
      <td>{{ pkg.versions[0].id }}</td>
      <td>{{ pkg.versions[0].date }}</td>
    </tr>
  {%- endif -%}
  {%- endfor -%}
  </tbody>
</table>
