---
layout: default
---

<table id="package-index" class="display">
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>Description</th>
      <th>Latest update</th>
      <th>Latest version</th>
    </tr>
  </thead>
  <tbody>
  {%- for pkg in site.pages -%}
  {%- if pkg.layout == "package" -%}
    <tr>
      <td><div class="icon"><img src="{{ pkg.icon | default: site.pkg_icon | relative_url }}" alt="icon"></div></td>
      <td><a href="{{ '/package/' | relative_url }}{{ pkg.name | remove: ".md" }}">{{ pkg.name | remove: ".md" }}</a></td>
      <td><div class="description">{{ pkg.description | strip_html | strip | escape | truncate: 180 }}</div></td>
      <td>{{ pkg.versions[0].id }}</td>
      <td>{{ pkg.versions[0].date }}</td>
    </tr>
  {%- endif -%}
  {%- endfor -%}
  </tbody>
</table>
