---
layout: default
---

<p>
  <a href="{{ '/' | relative_url }}">&lt;&nbsp; Back to the index</a>
</p>

{%- assign pkg_name = page.name | remove: '.md' -%}

<div class="package">
  <img src="{{ page.icon | default: site.pkg_icon | relative_url }}" alt="{{ pkg_name }}">
  <div>
  <h3>
    <a href="{{ page.homepage }}">{{ pkg_name }}</a>
  </h3>
  <p class="indent"><b>Description:</b> {{ page.description | escape }}</p>
  <p><b>Homepage:</b> <a href="{{ page.homepage }}">{{ page.homepage }}</a></p>
  <p><b>License:</b> {{ page.license }}</p>
  <p><b>Maintainer{%- if page.maintainers.size > 1 -%}s{%- endif -%}:</b></p>
  <ul>
    {%- for m in page.maintainers -%}
      <li>
        {{ m.name | escape }} &nbsp;
        &lt;{{ m.contact | escape | default: '<a href="https://octave.discourse.group/">https://octave.discourse.group/</a>' }}&gt;</li>
    {%- endfor -%}
  </ul>
  <p>
    <b>Versions:</b>
  </p>
  {%- assign details_open = ' open' -%}
  {%- for v in page.versions -%}

  <details{{ details_open }}>
  {%- assign details_open = '' -%}
    <summary>
      <b>{{ v.id }}{%- if v.date -%}&nbsp;({{ v.date }}){%- endif -%}</b>
    </summary>
    <p>
      <code>pkg install <a href="{{ v.url }}">{{ v.url }}</a></code>
      <button type="button" onclick="doCopy('pkg install {{ v.url }}')">
        <img src="{{ '/assets/copy.svg' | relative_url }}"
              alt="copy" class="copy">
      </button>
    </p>
    <ul>
      <li>
        <b>SHA256:</b> {{ v.sha256 | default: '-' }}
      </li>
      <li>
        <b>Dependencies:</b>
        <ul>
        {%- for dep in v.depends -%}
          {%- for pkg in site.pages -%}
            {%- if pkg.layout == "package" -%}
              {%- assign other_pkg_name = pkg.name | remove: '.md' -%}
              {%- if other_pkg_name == dep.name -%}
                {%- assign link_other_pkg = true -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          <li>
            {%- if link_other_pkg == true -%}
              <a href="{{ '/package/' | relative_url }}{{ dep.name }}">{{ dep.name }}</a>
            {%- else -%}
              {{ dep.name }}
            {%- endif -%}
            {%- if dep.min or dep.max -%}
            &nbsp;(
              {%- if dep.min -%}
              &geq; {{ dep.min }}
              {%- endif -%}
              {%- if dep.min and dep.max -%}
                &nbsp;and&nbsp;
              {%- endif -%}
              {%- if dep.max -%}
              &leq; {{ dep.max }}
              {%- endif -%}
            )
            {%- endif -%}
          </li>
        {%- endfor -%}
        </ul>
      </li>
    </ul>
  </details>
  {%- endfor -%}
  </div>
</div>

<script>
function doCopy(txt) {
  var input = document.createElement ('input');
  document.body.appendChild (input);
  input.value = txt;
  input.select();
  document.execCommand ('copy', false);
  input.remove ();
}
</script>

<!--PKG
__pkg__.("{{ pkg_name }}").description = "{{ page.description | escape }}";
__pkg__.("{{ pkg_name }}").homepage = "{{ page.homepage }}";
__pkg__.("{{ pkg_name }}").icon = "{{ page.icon }}";
__pkg__.("{{ pkg_name }}").license = "{{ page.license }}";
{% for m in page.maintainers %}
{%- assign i = forloop.index -%}
__pkg__.("{{ pkg_name }}").maintainers({{ i }}).name = "{{ m.name | escape }}";
__pkg__.("{{ pkg_name }}").maintainers({{ i }}).contact = "{{ m.contact | escape }}";
{% endfor %}
{% for v in page.versions %}
{%- assign i = forloop.index -%}
__pkg__.("{{ pkg_name }}").versions({{ i }}).id = "{{ v.id }}";
__pkg__.("{{ pkg_name }}").versions({{ i }}).date = "{{ v.date }}";
__pkg__.("{{ pkg_name }}").versions({{ i }}).sha256 = "{{ v.sha256 }}";
__pkg__.("{{ pkg_name }}").versions({{ i }}).url = "{{ v.url }}";
{% for dep in v.depends %}
{%- assign j = forloop.index -%}
__pkg__.("{{ pkg_name }}").versions({{ i }}).depends({{ j }}).name = "{{ dep.name }}";
__pkg__.("{{ pkg_name }}").versions({{ i }}).depends({{ j }}).min = "{{ dep.min }}";
__pkg__.("{{ pkg_name }}").versions({{ i }}).depends({{ j }}).max = "{{ dep.max }}";
{% endfor %}
{% endfor %}
-->
