---
layout: default
---

<table id="package-index" class="display">
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>Description</th>
      <th>Latest update</th>
      <th>Latest version</th>
    </tr>
  </thead>
  <tbody>
  {%- for pkg in site.pages -%}
  {%- if pkg.layout == "package" -%}
    <tr>
      <td><img src="{{ pkg.icon | default: site.pkg_icon | relative_url }}" alt="icon"></td>
      <td><a href="{{ '/package/' | relative_url }}{{ pkg.name | remove: ".md" }}">{{ pkg.name | remove: ".md" }}</a></td>
      <td>{{ pkg.description | escape }}</td>
      <td>{{ pkg.versions[0].date }}</td>
      <td>{{ pkg.versions[0].id }}</td>
    </tr>
  {%- endif -%}
  {%- endfor -%}
  </tbody>
</table>

<!--
__pkg_version__ = "{{ site.pkg_version }}";
{%- capture _ -%}{%- increment i -%}{%- endcapture -%}
{%- for pkg in site.pages -%}
{% if pkg.layout == "package" %}
__pkg__.index({% increment i %},:) = {"{{ pkg.name | remove: ".md" }}", "{{ pkg.description | escape }}"};
{% endif %}
{%- endfor -%}
-->
